.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleArea {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.title {
  font-size: var(--typography-headings-h-6-fontsize);
  font-weight: var(--typography-headings-h-6-fontweight, 700);
  color: var(--color-neutral-100);
}

.headerActions {
  display: flex;
  gap: var(--spacing-4);
}

.subtitle {
  font-size: var(--md-sys-typescale-body-large-size);
  color: var(--color-neutral-500);
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacing-6);
}

.tableWrapper {
  background-color: var(--color-layer-1);
  padding: var(--spacing-6);
  border: var(--stroke-0) solid var(--color-neutral-800);
  border-radius: var(--stroke-3);
  box-shadow: var(--effect-e1);
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-6);
}

.sectionTitle {
  font-size: var(--typography-headings-h-7-fontsize);
  font-weight: 600;
  color: var(--color-neutral-100);
}

.credit {
  color: var(--color-green-200);
  font-weight: 700;
}

.debit {
  color: var(--color-red-100);
  font-weight: 700;
}
