:root {
  --color-primary: rgb(0, 0, 0);
  --color-primary-100: rgb(192, 242, 189);
  --color-primary-200: rgb(129, 229, 123);
  --color-primary-300: rgb(66, 216, 57);
  --color-primary-400: rgb(13, 255, 145);
  --color-primary-500: rgb(30, 125, 25);
  --color-primary-alpha-10: rgb(240, 255, 239);
  --color-primary-alpha-20: rgba(66, 216, 57, 0.2);
  --color-secondary-100: rgb(196, 170, 255);
  --color-secondary-200: rgb(136, 85, 255);
  --color-secondary-300: rgb(77, 0, 255);
  --color-secondary-400: rgb(244, 197, 72);
  --color-secondary-500: rgb(42, 0, 140);
  --color-secondary-alpha-10: rgba(77, 0, 255, 0.1);
  --color-neutral-100: rgb(255, 255, 255);
  --color-neutral-200: rgb(243, 243, 243);
  --color-neutral-300: rgb(210, 210, 210);
  --color-neutral-400: rgb(187, 187, 187);
  --color-neutral-500: rgb(164, 164, 164);
  --color-neutral-600: rgb(142, 142, 142);
  --color-neutral-700: rgb(119, 119, 119);
  --color-neutral-800: rgb(96, 96, 96);
  --color-neutral-900: rgb(74, 74, 74);
  --color-neutral-1000: rgb(51, 51, 51);
  --color-neutral-alpha-10: rgba(51, 51, 51, 0.1);
  --color-red-100: rgb(251, 55, 72);
  --color-red-200: rgb(208, 4, 22);
  --color-red-alpha-10: rgba(251, 55, 72, 0.1);
  --color-yellow-100: rgb(255, 219, 67);
  --color-yellow-200: rgb(223, 180, 0);
  --color-yellow-alpha-10: rgba(255, 219, 67, 0.1);
  --color-green-100: rgb(132, 235, 180);
  --color-green-200: rgb(31, 193, 107);
  --color-green-alpha-10: rgba(31, 193, 107, 0.1);
  --spacing-0: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;
  --spacing-10: 56px;
  --stroke-0: 1px;
  --stroke-1: 2px;
  --stroke-2: 4px;
  --stroke-3: 6px;
  --color-layer-1: rgb(13, 13, 13);
  --color-layer-2: rgb(25, 25, 25);
  --color-layer-3: rgb(48, 48, 48);
  --effect-e0: 0px 0px 0px 0px #1b1c1d00;
  --effect-e1: 0px 2px 4px 0px #1b1c1d0a;
  --effect-e2: 0px 16px 32px -12px #585c5f1a;
  --effect-e3: 0px 16px 40px -8px #585c5f29;
  --typography-button-texts-fontsize: 14px;
  --typography-button-texts-textdecoration: none;
  --typography-button-texts-fontfamily: Inter;
  --typography-button-texts-fontweight: 700;
  --typography-button-texts-fontstyle: normal;
  --typography-button-texts-fontstretch: normal;
  --typography-button-texts-letterspacing: 0px;
  --typography-button-texts-lineheight: 21px;
  --typography-button-texts-paragraphindent: 0px;
  --typography-button-texts-paragraphspacing: 0px;
  --typography-button-texts-textcase: none;
  --typography-headings-h-1-fontsize: 58px;
  --typography-headings-h-1-textdecoration: none;
  --typography-headings-h-1-fontfamily: Inter;
  --typography-headings-h-1-fontweight: 700;
  --typography-headings-h-1-fontstyle: normal;
  --typography-headings-h-1-fontstretch: normal;
  --typography-headings-h-1-letterspacing: 0px;
  --typography-headings-h-1-lineheight: 87px;
  --typography-headings-h-1-paragraphindent: 0px;
  --typography-headings-h-1-paragraphspacing: 0px;
  --typography-headings-h-1-textcase: none;
  --typography-headings-h-2-fontsize: 48px;
  --typography-headings-h-2-textdecoration: none;
  --typography-headings-h-2-fontfamily: Inter;
  --typography-headings-h-2-fontweight: 700;
  --typography-headings-h-2-fontstyle: normal;
  --typography-headings-h-2-fontstretch: normal;
  --typography-headings-h-2-letterspacing: 0px;
  --typography-headings-h-2-lineheight: 72px;
  --typography-headings-h-2-paragraphindent: 0px;
  --typography-headings-h-2-paragraphspacing: 0px;
  --typography-headings-h-2-textcase: none;
  --typography-headings-h-3-fontsize: 40px;
  --typography-headings-h-3-textdecoration: none;
  --typography-headings-h-3-fontfamily: Inter;
  --typography-headings-h-3-fontweight: 700;
  --typography-headings-h-3-fontstyle: normal;
  --typography-headings-h-3-fontstretch: normal;
  --typography-headings-h-3-letterspacing: 0px;
  --typography-headings-h-3-lineheight: 60px;
  --typography-headings-h-3-paragraphindent: 0px;
  --typography-headings-h-3-paragraphspacing: 0px;
  --typography-headings-h-3-textcase: none;
  --typography-headings-h-4-fontsize: 34px;
  --typography-headings-h-4-textdecoration: none;
  --typography-headings-h-4-fontfamily: Inter;
  --typography-headings-h-4-fontweight: 700;
  --typography-headings-h-4-fontstyle: normal;
  --typography-headings-h-4-fontstretch: normal;
  --typography-headings-h-4-letterspacing: 0px;
  --typography-headings-h-4-lineheight: 45px;
  --typography-headings-h-4-paragraphindent: 0px;
  --typography-headings-h-4-paragraphspacing: 0px;
  --typography-headings-h-4-textcase: none;
  --typography-headings-h-5-fontsize: 28px;
  --typography-headings-h-5-textdecoration: none;
  --typography-headings-h-5-fontfamily: Inter;
  --typography-headings-h-5-fontweight: 700;
  --typography-headings-h-5-fontstyle: normal;
  --typography-headings-h-5-fontstretch: normal;
  --typography-headings-h-5-letterspacing: 0px;
  --typography-headings-h-5-lineheight: 36px;
  --typography-headings-h-5-paragraphindent: 0px;
  --typography-headings-h-5-paragraphspacing: 0px;
  --typography-headings-h-5-textcase: none;
  --typography-headings-h-6-fontsize: 24px;
  --typography-headings-h-6-textdecoration: none;
  --typography-headings-h-6-fontfamily: Inter;
  --typography-headings-h-6-fontweight: 700;
  --typography-headings-h-6-fontstyle: normal;
  --typography-headings-h-6-fontstretch: normal;
  --typography-headings-h-6-letterspacing: 0px;
  --typography-headings-h-6-lineheight: 36px;
  --typography-headings-h-6-paragraphindent: 0px;
  --typography-headings-h-6-paragraphspacing: 0px;
  --typography-headings-h-6-textcase: none;
  --typography-headings-h-7-fontsize: 20px;
  --typography-headings-h-7-textdecoration: none;
  --typography-headings-h-7-fontfamily: Inter;
  --typography-headings-h-7-fontweight: 600;
  --typography-headings-h-7-fontstyle: normal;
  --typography-headings-h-7-fontstretch: normal;
  --typography-headings-h-7-letterspacing: 0px;
  --typography-headings-h-7-lineheight: 24px;
  --typography-headings-h-7-paragraphindent: 0px;
  --typography-headings-h-7-paragraphspacing: 0px;
  --typography-headings-h-7-textcase: none;
  --typography-body-b-1-fontsize: 16px;
  --typography-body-b-1-textdecoration: none;
  --typography-body-b-1-fontfamily: Inter;
  --typography-body-b-1-fontweight: 500;
  --typography-body-b-1-fontstyle: normal;
  --typography-body-b-1-fontstretch: normal;
  --typography-body-b-1-letterspacing: 0px;
  --typography-body-b-1-lineheight: 24px;
  --typography-body-b-1-paragraphindent: 0px;
  --typography-body-b-1-paragraphspacing: 0px;
  --typography-body-b-1-textcase: none;
  --typography-body-b-2-fontsize: 14px;
  --typography-body-b-2-textdecoration: none;
  --typography-body-b-2-fontfamily: Inter;
  --typography-body-b-2-fontweight: 500;
  --typography-body-b-2-fontstyle: normal;
  --typography-body-b-2-fontstretch: normal;
  --typography-body-b-2-letterspacing: 0px;
  --typography-body-b-2-lineheight: 21px;
  --typography-body-b-2-paragraphindent: 0px;
  --typography-body-b-2-paragraphspacing: 0px;
  --typography-body-b-2-textcase: none;
  --typography-body-b-3-fontsize: 12px;
  --typography-body-b-3-textdecoration: none;
  --typography-body-b-3-fontfamily: Inter;
  --typography-body-b-3-fontweight: 400;
  --typography-body-b-3-fontstyle: normal;
  --typography-body-b-3-fontstretch: normal;
  --typography-body-b-3-letterspacing: 0px;
  --typography-body-b-3-lineheight: 18px;
  --typography-body-b-3-paragraphindent: 0px;
  --typography-body-b-3-paragraphspacing: 0px;
  --typography-body-b-3-textcase: none;
  --typography-body-b-4-fontsize: 10px;
  --typography-body-b-4-textdecoration: none;
  --typography-body-b-4-fontfamily: Inter;
  --typography-body-b-4-fontweight: 500;
  --typography-body-b-4-fontstyle: normal;
  --typography-body-b-4-fontstretch: normal;
  --typography-body-b-4-letterspacing: 0px;
  --typography-body-b-4-lineheight: 14px;
  --typography-body-b-4-paragraphindent: 0px;
  --typography-body-b-4-paragraphspacing: 0px;
  --typography-body-b-4-textcase: none;
  --typography-body-b-5-fontsize: 8px;
  --typography-body-b-5-textdecoration: none;
  --typography-body-b-5-fontfamily: Inter;
  --typography-body-b-5-fontweight: 500;
  --typography-body-b-5-fontstyle: normal;
  --typography-body-b-5-fontstretch: normal;
  --typography-body-b-5-letterspacing: 0px;
  --typography-body-b-5-lineheight: 12px;
  --typography-body-b-5-paragraphindent: 0px;
  --typography-body-b-5-paragraphspacing: 0px;
  --typography-body-b-5-textcase: none;
}
