.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.title {
  font-size: var(--typography-headings-h-6-fontsize);
  font-weight: var(--typography-headings-h-6-fontweight, 700);
  color: var(--color-neutral-100);
}

.subtitle {
  font-size: var(--md-sys-typescale-body-large-size);
  color: var(--color-neutral-500);
}

.tableWrapper {
  background-color: var(--color-layer-1);
  padding: var(--spacing-6);
  border: var(--stroke-0) solid var(--color-neutral-800);
  border-radius: var(--stroke-3);
  box-shadow: var(--effect-e1);
}

.applicantCell {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  color: var(--color-neutral-100);
}

.email {
  font-size: var(--typography-body-b-4-fontsize);
  color: var(--color-neutral-500);
}
